@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

:root {
    --primary-seafoam: #2bede3;
    --secondary-seafoam: #8ffff6;
    --tentacle-green: #b8fcd5;
    --medium-purple: #8129d9;
    --light-purple: #be7dff;
}

body {
    font-family: 'Cabin';
    background-color: lightseagreen;
}

#tentacles {
    width: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-seafoam);
    padding: 1%;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.stats-container {
    display: flex;
    align-items: center;
}

.stats-container:hover {
    cursor: pointer;
    box-shadow: 0 0 30px var(--primary-seafoam);
}

.stats-card {
    background-color: var(--secondary-seafoam);
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions,
#total-raised,
#num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px lightcyan;
}

.game-card {
    background-color: lightcyan;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px var(--primary-seafoam);
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    font-weight: bold;
    background-color: var(--tentacle-green);
    border: 3px solid var(--tentacle-green);
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
    transition: all 0.1s;
}

button:hover {
    border-color: var(--light-purple);
    box-shadow: 0 0.5em 0.3em -0.2em var(--medium-purple);
    transform: translateY(-0.3em);
}

#back-to-top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--primary-seafoam);
    color: lightseagreen;
    border: none;
    border-radius: 7px;
    width: 60px;
    height: 50px;
    font-size: 40px;
    text-align: center;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.2s ease-in-out;
}

#back-to-top-btn:hover {
    opacity: 1;
    box-shadow: none;
    transform: none;
}
